:root {
    --white: #F0F5F9;
    --black: #1E2022; 
    --dark-blue: #0F1035; 
    --blue: #365486;
    --light-blue: #DCF2F1;
}

.wc{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 50px;
    justify-content: space-around;
    margin: 20px 20px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right h1{
    color: var(--white);
    font-size: 65px;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.btn{
    width: 50%;
    font-size: 18px;
    padding: 20px 30px;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    background-color: var(--blue);
    border-style: none;
    margin-top:30px;
    color: var(--white);    
    cursor: pointer;
}

.left{
    width: 50%;
}
.welcomeImg{
    width: 100%;
    height: auto;
}
