.notes-container {
    padding: 15px;
    font-family: Arial, sans-serif;
    margin-bottom: 200px;
    height: 100vh;
    background-color: #0F1035;
    max-width: 300px;
}

.notes-header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0;
}

.notes-header h5 {
    font-size: 24px;
    color: #F0F5F9;
    font-weight: bold;
    margin-bottom: 15px;
}

.notes-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    overflow-x: hidden;
    gap: 15px;
}

.note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.note h5 {
    font-size: 16px;
    font-weight: bold;
    color: #F0F5F9;
    width: 90%;  
    margin: 0;
}

.icon-ellipses {
    font-size: 15px;
    cursor: pointer;
    color: #7f8c8d;
    transition: color 0.3s ease;
}

.icon-ellipses:hover {
    color: #365486; 
}

.note h6 {
    font-size: 12px;
    color: rgba(201, 214, 223, 0.7);
    margin-top: 0;
}

hr {
    border: 1px solid rgba(201, 214, 223, 0.7);
    margin: 0;
    width: 100%;
}

.icon {
    font-size: 25px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

.add-icon {
    margin-right: 10px;
}

.theme-icon {
    margin-left: 10px;
}

.icon:hover {
    color: #0056b3;
}
