.cardcontentadd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: #F0F5F9;
    border-radius: 10px;
    width: 60%;
    margin-top: 40px;
    margin: 0;
  }
  

  .cardquestion, .cardanswer {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;             
    margin-bottom: 20px;
    position: relative;
    padding: 20px;            
}

.cardquestion textarea, .cardanswer textarea {
    padding: 20px;            
    font-size: 15px;          
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;        
    background-color: #fff;
    width: 100%;              
    box-sizing: border-box;   
    min-height: 150px;         
}

  
  .cardquestion input:focus, .cardanswer input:focus {
    border-color: #0F1035;
    outline: none;
  }
  
  .cardquestion h5, .cardanswer h5 {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .addflashcard--btn button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #0F1035;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    margin-right: 500px;
  }
  
  
  .addflashcard--btn button:active {
    background-color: #fff;
    color:#1e2020;
    transform: translateY(0);
  }

  .btncardcontent {
    background-color: #0F1035; 
    color: #F0F5F9;              
    padding: 10px 20px;        
    font-size: 16px;           
    font-weight: bold;         
    border: none;              
    border-radius: 5px;       
    cursor: pointer;          
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btncardcontent:hover {
    background-color: #52616B; 
    transform: scale(1.05);     
}

.btncardcontent:active {
    background-color: #0F1035; 
    transform: scale(0.98);     
}


  
  @media (max-width: 600px) {
    .cardcontentadd {
      padding: 20px;
    }
    .addflashcard--btn button {
      width: 100%;
      margin: 0;
    }
  }
  