
.headerclass {
    background-color: #F0F5F9   ;  
    color: #1E2022; 
    padding: 20px;              
    text-align: flex-start;         
    border-radius: 10px;        
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
  }
  
  .headerclass h5 {
    font-size: 24px;            
    font-weight: bold;          
    margin: 0;                  
  }
  
  .headerclass hr {
    width: 100%;                 
    border: 0;                  
    border-top: 2px solid #C9D6DF; 
    margin-top: 10px;          
    margin-bottom: 0;           
  }
  