:root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  
}

.dashboard {
  display: flex;
  
  height: 100vh;  
  width: 100vw;  
  position: fixed; 
  top: 0;
  left: 0;
}


.dashboard--content {
  display: flex;
  background: #F0F5F9;
  flex: 1;
  border-radius: 20px;
  padding: 0;
  gap: 1.5rem;
  justify-content: space-around;
  overflow: hidden;  
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.content {
  flex-grow: 1;
  background-color: #F0F5F9;
  padding: 20px;
  border-radius: 20px;
}

.profile {
  flex-basis: 300px; 
  background-color: #F0F5F9;
  padding: 30px;
  border-radius: 10px;
}