.profile{
    margin-right: 10px;
}

.react-calendar {
    border-radius: 10px;
    width: 100%;
    max-width: 320px; 
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-left:10px;
}

.react-calendar__tile {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #F0F5F9;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.react-calendar__tile--active {
    background-color: #C9D6DF;
    color: #F0F5F9;
}

.react-calendar__tile--now {
    background-color: #52616B;
    color: #F0F5F9;
}

.react-calendar__navigation__label {
    font-size: 12px;
    font-weight: bold;
    color: #1E2022;
    visibility: visible;
    margin-bottom: 20px;

}

.react-calendar__navigation button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    margin-bottom: 5px;
}
