table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    max-height: 150px; 
    overflow-y: scroll;
}

.table-container {
    border: 1px solid #1E2022; 
    border-radius: 8px; 
}

thead {
    background-color: #F0F5F9;
}

th, td {
    padding: 8px 10px; 
    text-align: left;
    border-bottom: 1px solid #1E2022; 
    font-size: 14px;
    color: #F0F5F9;
}

fieldset {
    border: 1px solid #1E2022;
    padding: 5px 8px;
    border-radius: 8px;
    margin-top: 30px;
    max-height: 400px; 
    width: auto; 
    min-width: 300px; 
    overflow: scroll; 
}

legend {
    font-size: 18px; 
    font-weight: bold;
    color: #1E2022;
}

th {
    font-weight: bold;
    color: #1E2022;
}

tbody tr {
    background-color: #0F1035; 
}

td svg {
    width: 18px; 
    height: 18px;
    fill: #F0F5F9;
}

td:last-child {
    font-weight: bold;
}

td:last-child::before {
    content: ''; 
    margin-right: 5px;
}

td .circular-progress-wrapper {
    width: 40%; 
    height: 40%; 
    margin: 0 auto;
}

select {
    background-color: #0F1035; 
    color: #F0F5F9; 
    border: 1px solid #1E2022; 
    padding: 6px 10px; 
    border-radius: 5px;
    font-size: 13px; 
    appearance: initial;
}

select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

fieldset button {
    background-color: #C9D6DF; 
    color: #1E2022; 
    border: 2px solid #F0F5F9; 
    padding: 4px 8px; 
    font-size: 12px; 
    border-radius: 5px; 
    cursor: pointer; 
    display: inline-block; 
    margin-right: 8px; 
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}  

fieldset button:last-child {
    margin-right: 0; 
}

fieldset button:hover {
    background-color: #F0F5F9; 
    color: #1E2022; 
    border-color: #1E2022; 
}

fieldset button svg {
    width: 18px; 
    height: 18px; 
    fill: #F0F5F9; 
}

fieldset button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.delete-btn {
    background-color: transparent;
    color: #FF4D4D;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-btn:hover {
    background-color: #FF4D4D;
    color: white;
}

.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block; 
    }
    th {
        text-align: right;
    }
    td {
        text-align: left; 
        border: none; 
        padding-left: 50%; 
    }
    td::before {
        content: attr(data-label); 
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 15px;
        font-weight: bold;
        color: #1E2022;
    }
}

dialog[data-modal] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF; /* Adjust modal background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Stay above all elements */
    width: 30vw; /* Modal width */
    max-width: 90%; /* Adjust for responsiveness */
    max-height: 90%; /* To avoid overflow on small screens */
    overflow-y: auto; /* Scroll if content exceeds the height */
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it covers the screen */
}


/* Centering modal content */
dialog .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style close button inside the modal */
dialog button[data-close-modal] {
    background-color: #FF4D4D;
    color: #FFF;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

dialog button[data-close-modal]:hover {
    background-color: #D43F3F;
}

/* Add padding to modal content */
dialog[data-modal] .modal-content {
    padding: 10px;
}

.modal-content label{
    color:#0F1035;
    margin-bottom: 1vh;
}

.modal-content form{
    width: 100%;
    
}

