:root {
    --white: #F0F5F9;
    --black: #1E2022; 
    --dark-blue: #0F1035; 
    --blue: #365486;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    height: 100px;
    top:0;
    left: 0;
    right: 0;
    min-width: 600px;
    margin: 0;
}


.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.left h3{
    font-size: 24px;
    font-family: 'Inter',sans-serif;
}

.logo{
    margin:10px 30px;
    height: 70px;
    width: 70px;
}

.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.btnMid{
    border-style: none;
    background-color: var(--white);
    cursor: pointer;
    margin: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: italic;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-right: 20px;
}

.signUp{
    border-style: none;
    background-color: var(--white);
    cursor: pointer;
    margin: 0px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 100%;
    min-width: 50px;    
}


.login{
    margin: 0px 10px;
    width: 100%;
    min-width: 50px;
    background-color: var(--black);
    border-radius: 3px;
    color: var(--white);
    font-size: 16px;
    padding: 10px 10px;
    border-style:none ;
    cursor: pointer;
}
