:root {
    --white: #F0F5F9;
    --black: #1E2022; 
}

footer{
    background-color: var(--white);
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info div{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.info div h1{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.info button{
    border-style: none;
    background-color: var(--white);
    cursor: pointer;
    margin-bottom: 12px;
    border-bottom: solid 1px var(--white);
}

.info button:hover {
    border-bottom: solid 1px var(--black);
}

.credits{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
}

.credits h6{
    margin: 10px 10px;
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

.terms{
    border-right: 1px solid var(--white);
    padding-right: 15px;
}
